*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: right;
    margin: auto;
    padding:20px 20px;
    top: 0;
    position: sticky;
}
#gmail,#images,#menu,#account{
    color: black;
    padding-right: 20px;
    text-decoration: none;
    font-size: 15px;
}
#gmail:hover,#images:hover{
    text-decoration: underline;
}
#menu img{
    width: 15px;
}
#menu img:hover{
  background-color: rgba(60, 64, 67, 0.447); 
}
#account{
    margin-top: -5px;
    margin-right: -15px;
}
#account img{
    width: 25px;
}
.gl,.btn{
    display: flex;
    justify-content: center;
}
.gl img{
    width: 300px;
    margin-top: 10%;
}
.btn{
    padding:0 10px;
    border: 0.1px solid rgba(231, 230, 230, 0.328);
    border-radius: 30px;
   background: rgba(234, 234, 234, 0.719);
   padding: 15px 0px;
   margin: auto;
   justify-content: flex-start;
}
.material-symbols-outlined{
    margin: 2px 10px;
}
#search{
    background: transparent;
    font-size: 16px;
    font-family: sans-serif;
    color: rgb(38, 38, 38);
    border: none;
    outline: none;
    margin: 0px 10px;
    padding: 0px 50px;
}
#mic,#lens{
    margin: 0px 13px;
}
.an{
    margin-left:20px;
}
.an:hover{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 30px;
    padding: 2px 10px;

}

#mode span{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.extra{
    display: flex;
    justify-content: center;
}
.gs,.gf{
    color: black;
    font-size: 15px;
    border: none;
    outline: none;
    margin-top: 5px;
    padding: 6px 10px;

}
.gs:hover,.gf:hover{
    border: 1px solid rgba(78, 78, 78, 0.261);
    border-radius: 10px;
}
.gs{
    padding-right: 30px;
}
.gf{
    padding-left: 30px;
}

footer{
      position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  z-index: 1000;
}
.country{
    text-decoration: none;
    font-size: 17px;
    background: whitesmoke;
    margin:10px 10px;
    padding-left: 24px;
    padding-top: 10px;
}
.end {
    display: flex;
    justify-content: space-between; 
    align-items: center;            
    border-top: 0.5px solid rgba(128, 128, 128, 0.266);
    background: whitesmoke;
    padding: 8px 20px; 
    margin-bottom: -10px;            
}

.left,
.right {
    display: flex;
    gap: 20px;                     
    margin: 0;
    padding: 0;
}

.left li,
.right li {
    list-style: none;
}

.left li a,
.right li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

